@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="dictTypeInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-12" id="itemsArea">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型编码</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="code" name="code" type="text">
                        </div>
                        <label class="col-sm-2 control-label">字典类型名称</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="text" name="text" type="text">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check"
                    clickFun="DictTypeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DictTypeInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="${ctxPath}/static/modular/business/dict/dict_type_info.js"></script>
@}