<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <conversionRule conversionWord="m" converterClass="com.heaven.palace.moonpalace.util.SensitiveConverter"/>
    <conversionRule conversionWord="ip" converterClass="com.heaven.palace.moonpalace.util.LogIPConverter"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 应用名称==log文件名称，每个应用都需要修改 -->
    <property name="appName" value="generator"/>
    <property name="LOG_FILE" value="/logs/spring/${appName}_runtime.log"/>
    <property name="LOG_PATTERN"
              value="${LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} [%ip] ${PID:- } --- [%t] -- [%X{traceId}]-[%X{spanId}] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- MDC全局traceId -->
    <property name="CONSOLE_PATTERN"
              value="${CONSOLE_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(--)[%X{traceId}]-[%X{spanId}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 异步写日志文件的配置 -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 当队列达到配置队列大小的80%时，不将日志丢失 -->
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- 启动不打印nacos配置 -->
    <logger name="com.alibaba.cloud.nacos.client.NacosPropertySourceBuilder" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>